.sidebar-items
  .sidebar-item
    = link_to 'http://kmvl.net/dean.html', target: '_blank' do
      = fa_icon 'microphone'
      .sidebar-title Listen to Colonel Dean
      .sidebar-sub on KMVL, 100.5 FM with Paul and Becky
  .sidebar-item
    = fa_icon 'calendar'
    .sidebar-title Find events
    .sidebar-sub mark your calendars
  .sidebar-item.sidebar-donation-item
    .sidebar-title Make a quick donation here
    .sidebar-sub
