.row
  .columns.small-12.large-8
    = render 'home/slider'
  .columns.small-12.large-4
    = render 'shared/sidebar'

#home-content-container
  .row
    .columns.small-12.large-8
      = render 'home/content'
    .columns.small-12.large-4
      = render 'home/sidebar'
