$header-logo-height: 65px

#main-header
  background: #274472
  padding: 17px 0px

  #main-header-logo
    float: left

    img
      width: $header-logo-height

  #main-header-name
    float: left
    position: relative
    margin-left: 10px
    font-family: 'Cinzel',serif
    font-weight: 300
    font-size: 40px
    line-height: $header-logo-height
    color: #FFF
    letter-spacing: 0

    #main-header-year
      font-size: 14px
      position: absolute
      top: -16px
      right: 2px
      color: #EEE

    #main-header-sub
      font-size: 14px
      position: absolute
      bottom: -23px
      letter-spacing: 0.8px
      color: #EEE
      width: 100%
      text-align: center
