.sidebar-items
  margin-top: 50px

  .sidebar-item
    position: relative
    background: #E2EAF2
    padding: 15px 15px 15px 50px
    border-radius: 5px
    margin-bottom: 5px
    overflow: hidden

    i
      position: absolute
      left: -12px
      font-size: 50px
      color: #C6D0DC

    .sidebar-title
      font-family: sans-serif
      color: #274472
      font-size: 18px
      font-weight: bold
      text-transform: uppercase

    .sidebar-sub
      font-family: sans-serif
      color: #808CA4
      font-size: 15px

    &.sidebar-donation-item
      background: #EDE1E2

      .sidebar-title
        color: #A82512
        font-size: 14px
        font-weight: normal
